@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

section{
    height: 100vh;
    width: 100%;
    display: flex;
    grid-template-columns: 400px 600px;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    background-color: antiquewhite;
    border-radius: 80px;
    padding: 0 120px;
    position: sticky;
    top: 0;
    border: 1px solid #fff;
}

h2{
    font-family: 'Syne';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 34px;
}

p{
    font-family: 'Syne';
    font-size: 30px;
    font-weight: 400;
}

img{
    max-width: 400px;
}
